{% extends "bases/base.html.twig" %} 

{% block title %}Connexion{% endblock %}

{% block body %}

	<main class="connection-form-html">
		<div class="connection-form">
			<h3>Connexion</h3>

			{{ form_start(form) }}
			
				{{form_widget(form.UserName, {'attr': {'placeholder': 'Nom d\'utilisateur', 'class': 'form-control', 'autocomplete': 'off'}})}}
				{{form_widget(form.UserPassword, {'attr': {'placeholder': 'Mot de passe', 'class': 'form-control'}})}}

				{{form_widget(form.connection, {'label': 'Se connecter', 'attr': {'class': 'btn btn-connecter'}})}}

				{% if form.UserPassword.vars.errors %}
    				<div class="alert alert-danger">{{ form_errors(form) }}</div>
				{% endif %}
			{{ form_end(form) }}
		</div>

		<div class="connection-form-footer">
			<span>Vous n'avez pas de compte ?</span>
			<a href="{{path('inscription')}}">Inscrivez-vous</a>
		</div>

	</main>
	
{% endblock %}
