{% extends "bases/base.html.twig" %} 

{% block title %}Inscription{% endblock %}

{% block body %}

	<main class="inscription-form-html">
		<div class="inscription-form">
			<h3>Inscription</h3>

			{{ form_start(form) }}

				{{ form_widget(form.UserName, {'attr': {'class': 'form-control', 'placeholder': 'Nom d\'utilisateur','autocomplete':'off'}}) }}
				{{ form_widget(form.UserMail, {'attr': {'class': 'form-control', 'placeholder': 'Email','autocomplete':'off'}}) }}
				{{ form_widget(form.UserPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
				
				{{ form_widget(form.createAccount, {'label' : 'Créer un compte', 'attr' : {'class' : 'btn-inscrire'}}) }}
			
				{% if form.UserPassword.vars.errors %}
    				<div class="alert alert-danger">{{ form_errors(form) }}</div>
				{% endif %}
			{{ form_end(form) }}
		</div>

		<div class="inscription-form-footer">
			<span>Vous avez déjà un compte ?</span> <a href="{{ path('connection') }}">Connectez-vous</a>
		</div>
	</main>

{% endblock %}
