{% extends "bases/base.html.twig" %} 

{% block title %}Modifier mon profil{% endblock %}

{% block body %} 

    <main class="profil-edit-html">
        <div class="modif-profil-form">
            <div class="header-modif-profil">
                <h3>Modifier mon profil</h3>
                <div class="btns-modif-profil">
                    <a href="{{path('profil.remove', {'name': userName})}}" title="Supprimer mon profil">🚮</a>
                    <a href="{{ path('profil', {'name':userName}) }}" title="Annuler les modifications">🔙</a> 
                </div>
            </div>

            {{ form_start(form) }}

                {{ form_widget(form.UserName, {'attr': {'class': 'form-control', 'placeholder': 'Nom d\'utilisateur','autocomplete':'off'}}) }}
                {{ form_widget(form.UserMail, {'attr': {'class': 'form-control', 'placeholder': 'Email','autocomplete':'off'}}) }}
                {{ form_widget(form.UserPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe', 'required' : false}}) }}
                
                {{ form_widget(form.createAccount, {'label' : 'Modifier mon profil', 'attr' : {'class' : 'btn-modifier'}}) }}

                {% if form.UserPassword.vars.errors %}
                    <div class="alert alert-danger">{{ form_errors(form) }}</div>
                {% endif %}
            {{ form_end(form) }}
        </div>
    </main>

{% endblock %}