{% extends "bases/base.html.twig" %}

{% block title %}lecture poste{% endblock %}

{% block body %}

	<main class="post-show-html">
		<div class="lecture">
			<div class="lecture-header">
				<h3>{{post.title}}</h3>
			</div>

			<div class="lecture-content">
				<p>{{post.content}}</p>
			</div>

			<div class="tags">
				<p>Catégories :</p>
				{% for tag in tags %}
					<p>-{{tag}}</p>
				{% endfor %}
			</div>

			<div class="lecture-footer">
				<p>Publié le {{post.publishedAt|date('d/m/Y')}}</p>
			</div>
		</div>

		<div class="ecrire-commentaire">
			<h3>Ecrire un commentaire</h3>
		
			{{ form_start(form) }}

				{{form_widget(form.content, {'attr' : {'placeholder' : 'Laisser un commentaire ...', 'class' : 'form-control'}})}}
				{{form_widget(form.comment,{'label' : 'Envoyer un commentaire', 'attr' : {'class' : 'btn-submit'}})}}
		
			{{ form_end(form) }}

			{% if form.content.vars.errors %}
    			<div class="alert alert-danger">{{ form_errors(form) }}</div>
			{% endif %}
		</div>

		<div class="commentaires">
			<h3>Commentaires</h3>
			{% for comment in comments %}
				<div class="commentaire-partage">
					<p class="nom-commentaire-partage">{{comment.userName}}</p>
					<p class="content-commentaire-partage">{{comment.content}}</p>
					<p class="date-commentaire-partage">Publié le {{comment.publishedAt|date('d/m/Y')}}</p>
				</div>
			{% endfor %}
		</div>		
	</main>

{% endblock %}
