{% extends "bases/base.html.twig" %}

{% block body %}
	<style>
		.admin-post-create-html {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 60px;
		}
	
		.ecrire-article{
			width: 60%;
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
		}

		.ecrire-article h3{
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 10px;
			border-bottom: 1px solid #ccc;
			padding-bottom: 15px;
		}

		.form-item-content, .form-item-title{
			box-sizing : border-box;
			width : 100%;
			height : 200px;
			padding : 10px;
			border : 1px solid #ccc;
			border-radius : 5px;
			margin-bottom : 10px;
			resize : vertical;
			outline : none;
		}

		.form-item-title{
			height : 30px;
		}

		.form-item-publish{
			width : 100%;
			height : 40px;
			background-color : #000;
			color : #fff;
			border : none;
			border-radius : 5px;
			cursor : pointer;
		}

		.form-item-publish:hover{
			background-color : #333;
		}
	</style>

	<title>Post - Créer</title>

	<main class="admin-post-create-html">
		<div class="ecrire-article">
			<h3>Créer un article</h3>

			{{form_start(form)}}

				{{form_widget(form.title, {'attr': {'placeholder': 'Titre de l\'article', 'class': 'form-item-title','autocomplete': 'off'}})}}
				{{form_widget(form.content, {'attr': {'placeholder': 'Contenu de l\'article', 'class': 'form-item form-item-content', 'autocomplete': 'off'}})}}
				{{form_widget(form.publish, {'label': 'Publier l\'article', 'attr': {'class': 'form-item form-item-publish'}})}}
			
			{{form_end(form)}}
		</div>

	</main>
{% endblock %}
