{% extends "bases/base.html.twig" %}

{% block title %}Les postes{% endblock %}

{% block body %}

	<main class="post-index-html">
		<div class="posts">
			<div class="header-posts">
				<h3>Postes</h3>
				<a href="{{ path('admin.post.create') }}">Créer un post</a>
			</div>

			{% for post in posts %}
				<div class="single-post">
					<div class="post-header">
						<h2>{{ post.title }}</h2>
						<p class="date-publication">le {{ post.publishedAt|date('d/m/Y') }}</p>
					</div>
					<div class="separator"></div>
					<p class="post-content">{{ post.content }}</p>
					<a href="{{ path('admin.post.show', {'id' : post.id}) }}">Lire la suite</a>
				</div>
			{% endfor %}

		</div>
	</main>

{% endblock %}
