{% extends "bases/base.html.twig" %}

{% block title %}Commentaires{% endblock %}

{% block body %}

	<main class="admin-comment-index-html">
		<div class="comments">
			<h3>Commentaires</h3>
			
			<div class="body-comments">

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Posts</th>
							<th scope="col">Auteur</th>
							<th scope="col">Contenu</th>
							<th scope="col">Date</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for comment in comments %}
							<tr>
								<th scope="row"> <a href="{{path('admin.post.show',{'id' : comment.postId})}}">Article</a></th>
								<td>{{ comment.userName }}</td>
								<td>{{ comment.content }}</td>
								<td>{{ comment.publishedAt|date('d/m/Y') }}</td>
								<td>
									<a href="{{ path('admin.comment.remove', {'id': comment.id}) }}" class="btn btn-danger">Supprimer</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>

		</div>
	</main>

{% endblock %}
