{% extends "bases/base.html.twig" %}

{% block body %}
	<style>
		.admin-comment-index-html{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px;
		}
		
		.comments{
			width: 60%;
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
		}

		.comments h3{
			margin-bottom: 20px ;
		}

		.body-comments{
			display: flex;
			justify-content: center;
		}

		a:visited{
			color: unset;
		}

		.btn-danger{
			text-decoration: none;
			color: #fff;
			background-color: #007bff;
			padding: 5px 10px;
			border-radius: 5px;
		}

		.btn-danger:hover{
			background-color: #0069d9;
		}

		.table{
			width: 100%;
		}

		.table thead th {
			vertical-align: center;
			border-top: 2px solid #dee2e6;
		}

		.table th,
		.table td {
			padding: 0.75rem;
			vertical-align: center;
			border-bottom: 2px solid #dee2e6;
		}
	</style>

	<title>Commentaires</title>

	<main class="admin-comment-index-html">
		<div class="comments">
			<h3>Commentaires</h3>
			
			<div class="body-comments">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Posts</th>
							<th scope="col">Auteur</th>
							<th scope="col">Contenu</th>
							<th scope="col">Date</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for comment in comments %}
							<tr>
								<th scope="row"> <a href="{{path('admin.post.show',{'id' : comment.postId})}}">Article</a></th>
								<td>{{ comment.userName }}</td>
								<td>{{ comment.content }}</td>
								<td>{{ comment.publishedAt|date('d/m/Y') }}</td>
								<td>
									<a href="{{ path('admin.comment.remove', {'id': comment.id}) }}" class="btn btn-danger">Supprimer</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>

{% endblock %}
