{% extends "bases/base.html.twig" %} 

{% block body %}
	<style>
		.connection-form-html{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 60px;
			height: 55vh;
		}

		.connection-form{
			width: 50%;
			padding: 20px;
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0,0,0,.3);
		}

		.connection-form h3{
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 10px;
			border-bottom: 1px solid #ccc;
			padding-bottom: 15px;
		}

		form{
			padding: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}

		.form-control{
			box-sizing: border-box;
			width: 60%;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0,0,0,.5);
			outline: none;
		}

		.btn-connecter{
			width: 60%;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0,0,0,.5);
			background-color: #000;
			color: #fff;
			font-weight: bold;
			cursor: pointer;
		}

		.btn-connecter:hover{
			background-color: #fff;
			color: #000;
		}

		.connection-form-footer{
			margin-top: 20px;
		}

		.connection-form-footer a{
			color: #007bff;
			text-decoration: none;
		}

		.alert-danger{
			color: red;
			font-weight: bold;
		}

		li{
			list-style: none;
		}
	</style>

	<title>Connexion</title>

	<main class="connection-form-html">
		<div class="connection-form">
			<h3>Connexion</h3>

			{{ form_start(form) }}
			
				{{form_widget(form.UserName, {'attr': {'placeholder': 'Nom d\'utilisateur', 'class': 'form-control', 'autocomplete': 'off'}})}}
				{{form_widget(form.UserPassword, {'attr': {'placeholder': 'Mot de passe', 'class': 'form-control'}})}}

				{{form_widget(form.connection, {'label': 'Se connecter', 'attr': {'class': 'btn btn-connecter'}})}}

				{% if form.UserPassword.vars.errors %}
    				<div class="alert alert-danger">{{ form_errors(form) }}</div>
				{% endif %}
			{{ form_end(form) }}
		</div>

		<div class="connection-form-footer">
			<span>Vous n'avez pas de compte ?</span>
			<a href="{{path('inscription')}}">Inscrivez-vous</a>
		</div>

	</main>
	
{% endblock %}
