{% extends "bases/base.html.twig" %} 

{% block title %}Page d'accueil{% endblock %}

{% block body %}  

    <style>

    

        .home-html{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            background: #eee    ;
        }

        .welcome {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,7,99,1) 0%, rgba(9,9,121,1) 15%, rgba(6,87,173,1) 43%, rgba(0,212,255,1) 65%);
            padding: 20px;
            margin-bottom: 20px;
        }

        .welcome h1 {
            color: #fff;
            font-size: 50px;
            margin-bottom: 10px;
        }

        .welcome p {
            color: #fff;
            font-size: 20px;
            margin-bottom: 20px;
        }

        .categories{
            margin: 30px;
        }

        .categories ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
        }


        .categories ul li a {
            color: #eee;
            text-decoration: none;
            border: 2px solid #ccc;
            padding: 5px;
           font-weight: bold;
        }

        .categories ul li a:hover {
            text-decoration: underline;
            background: #fff;
            color: #000;
        }

        .message {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fff;
            padding: 20px;
            margin-bottom: 20px;
        }

        .articles {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px;
            background: rgb(0,212,255);
            background: linear-gradient(90deg, rgba(0,212,255,1) 13%, rgba(15,121,184,1) 43%, rgba(9,9,121,1) 87%);
        }

        .articles h1{
            color: #fff;
            font-size: 30px;
            margin: 0;
        }

        .articles-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: center;
            margin:40px;
        }

        .article {
            width: 300px;
            background: #eee;
            padding: 20px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
        }

        .article h3 {
            font-size: 16px;
            margin: 0;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }

        .article p {
            font-size: 16px;
            margin-top: 10px;
            text-align: justify;
        }

        .article-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .article-footer p {
            margin: 0;
            font-size: 12px;
            color: #000;
            font-style : italic;
			text-align : right;
        }

        .article-footer a {
            text-decoration: none;
            color: #0657ad;
        }

    </style>

    <main class="home-html">
        <div class="welcome">
            <h1>Nabile Blog</h1>
            <p>Un blog pour partager mes connaissances et mes expériences</p>

            <div class="categories">
                <ul>
                    {% for category in categories %}
                        {% if userStatus is defined and userStatus == 0 %}
                            <li><a href="{{ path('admin.category.show', {'id': category.id}) }}">{{ category.name }}</a></li>
                        {% else %}
                            <li><a href="{{ path('user.category.show', {'id': category.id}) }}">{{ category.name }}</a></li>
                        {% endif %}
                        
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="message">
            <h3>Connectez-vous pour accéder à votre espace personnel</h3>
        </div>

        <div class="articles">
            <h1>Articles récent</h1>
            <div class="articles-list">

                {% for article in articles %}
                    <div class="article">
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.content }}</p>
                        <div class="article-footer">
                            {% if userStatus is defined and userStatus == 0 %}
                                <a href="{{ path('admin.post.show', {'id': article.id} ) }}">Lire la suite</a>
                            {% else %}
                                <a href="{{ path('user.post.show', {'id': article.id} ) }}">Lire la suite</a>
                            {% endif %}
                            <p>Publié le {{ article.publishedAt|date('d/m/Y') }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </main>

{% endblock %}