{% extends "bases/base.html.twig" %} 

{% block title %}Page d'accueil{% endblock %}

{% block body %} 

    <main class="home-html">
        <div class="welcome">
            <h1>Nabile Blog</h1>
            <p>Un blog pour partager mes connaissances et mes expériences</p>

            <div class="categories">
                <ul>
                    {% for category in categories %}
                        {% if userName is defined and userName != null and userStatus is defined and userStatus == 0 %}
                            <li><a href="{{ path('admin.category.show', {'id': category.id}) }}">{{ category.name }}</a></li>
                        {% else %}
                            <li><a href="{{ path('user.category.show', {'id': category.id}) }}">{{ category.name }}</a></li>
                        {% endif %}
                        
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="message">
            <h3>Connectez-vous pour accéder à votre espace personnel</h3>
        </div>

        <div class="articles">
            <h1>Articles récent</h1>
            <div class="articles-list">

                {% for article in articles %}
                    <div class="article">
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.content }}</p>
                        <div class="article-footer">
                            {% if userStatus is defined and userStatus == 0 %}
                                <a href="{{ path('admin.post.show', {'id': article.id} ) }}">Lire la suite</a>
                            {% else %}
                                <a href="{{ path('user.post.show', {'id': article.id} ) }}">Lire la suite</a>
                            {% endif %}
                            <p>Publié le {{ article.publishedAt|date('d/m/Y') }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </main>

{% endblock %}